---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Diferenciais from '../components/Diferenciais.astro';
import Programacao from '../components/Programacao.astro';
import Sobre from '../components/Sobre.astro';
import Galeria from '../components/Galeria.astro';
import Depoimentos from '../components/Depoimentos.astro';
import Reservas from '../components/Reservas.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Diferenciais />
    <Programacao />
    <Sobre />
    <Galeria />
    <Depoimentos />
    <Reservas />
    <FAQ />
  </main>
  <Footer />
</Layout>
